@use "../../GlobalVariables.module.scss";

.scrollableElement {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    margin-left: 50%;

    width: max-content;

    transition: left 1s;
}

.scrollableElement>* {
    width: calc(var(--clientWidth) - var(--padding) * 2);

    @media (min-width: GlobalVariables.$desktopWidth) {
        width: calc(calc(var(--clientWidth) - var(--padding) * 2) / 2.2);
    }
}